.logo {
	width: 96px;
	height: 96px;
	margin: 0;
  padding-left: 0px;
	/* display: block; */
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.logo2 {
	height: 96px;
	margin: 0;
	/* display: block; */
  padding-right: 90px;
}
.titulo{
  color: rgb(255,255,255);
  padding-top: 0px;
  padding-left: 90px;
  font-weight: bold;
}
